﻿@model WarmUp.Models.Post

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
     Estás <strong> seguro </strong>de querer eliminar este post?
</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoría)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoría)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contenido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contenido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.Imagen)" alt="Imagen" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
    </dl>

    <form asp-action="DeletePost">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-info">Volver a Inicio</a>
    </form>
</div>
