﻿@model WarmUp.Models.Post

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles</h1>

<div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Titulo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Titulo)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Categoría)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Categoría)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Contenido)
                    </dt>
                    <dd class="col-sm-10" >
                        @Html.DisplayFor(model => model.Contenido)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Imagen)
                    </dt>
                    <dd class="col-sm-8">
                        <img src="@Html.DisplayFor(model => model.Imagen)" alt="Imagen"/>
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.FechaCreacion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FechaCreacion)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    
</div>
<div>
    <a asp-action="Index" class="btn btn-info">Atrás</a>
</div>
