﻿@model IEnumerable<WarmUp.Models.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="text-align:center">Challenge Warm Up</h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <h3>Lista de Posts</h3>
    </div>
</div>
    

<table class="table table-bordered">
    <thead style="background-color: dimgrey; text-align: center">
        <tr style="color: white">
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td style="text-align: center">
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a> |
                <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
