﻿@model WarmUp.Models.Post

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar post</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Update">
            <input asp-for="Id" hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Categoría" class="control-label"></label>
                <input asp-for="Categoría" class="form-control" />
                <span asp-validation-for="Categoría" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Contenido" class="control-label"></label>
                <textarea asp-for="Contenido" class="form-control" rows="5"> </textarea>
                <span asp-validation-for="Contenido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label">Url de imagen - (opcional)</label>
                <input asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-info">Volver a inicio</a>
            </div>
        </form>
    </div>
</div>


